{% set pageId = 'Videos' %}

{% extends "layout.njk" %}

{% block title %}Videos{% endblock %}

{% block content %}
    <section data-sticky-trigger class="page__header">
        <h1 class="page__title">Videos</h1>
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumbs__item">
                Videos
            </li>
        </ul>
    </section>
    <div class="page__container">
        <main class="page__content">
            <section class="videos">
                <ul class="videos__items">
                    <li class="videos__item">
                        <article>
                            <div class="videos__cover" style="background-image: url('/images/videos/01.jpg')">
                                <div class="videos__props">
                                    <ul class="videos__genres">
                                        <li class="videos__genre videos__genre--highlighted">Rock</li>
                                        <li class="videos__genre">Hip-Hop</li>
                                    </ul>
                                    <div class="videos__duration">15 Min</div>
                                </div>
                            </div>
                            <div class="videos__footer">
                                <h2 class="videos__title">Leave Me Alone</h2>
                                <button class="play play--small videos__play" aria-label="Play Track"></button>
                            </div>
                        </article>
                    </li>
                    <li class="videos__item">
                        <article>
                            <div class="videos__cover" style="background-image: url('/images/videos/02.jpg')">
                                <div class="videos__props">
                                    <ul class="videos__genres">
                                        <li class="videos__genre videos__genre--highlighted">Rock</li>
                                        <li class="videos__genre">Hip-Hop</li>
                                    </ul>
                                    <div class="videos__duration">15 Min</div>
                                </div>
                            </div>
                            <div class="videos__footer">
                                <h2 class="videos__title">Leave Me Alone</h2>
                                <button class="play play--small videos__play" aria-label="Play Track"></button>
                            </div>
                        </article>
                    </li>
                    <li class="videos__item">
                        <article>
                            <div class="videos__cover" style="background-image: url('/images/videos/03.jpg')">
                                <div class="videos__props">
                                    <ul class="videos__genres">
                                        <li class="videos__genre videos__genre--highlighted">Rock</li>
                                        <li class="videos__genre">Hip-Hop</li>
                                    </ul>
                                    <div class="videos__duration">15 Min</div>
                                </div>
                            </div>
                            <div class="videos__footer">
                                <h2 class="videos__title">Leave Me Alone</h2>
                                <button class="play play--small videos__play" aria-label="Play Track"></button>
                            </div>
                        </article>
                    </li>
                    <li class="videos__item">
                        <article>
                            <div class="videos__cover" style="background-image: url('/images/videos/04.jpg')">
                                <div class="videos__props">
                                    <ul class="videos__genres">
                                        <li class="videos__genre videos__genre--highlighted">Rock</li>
                                        <li class="videos__genre">Hip-Hop</li>
                                    </ul>
                                    <div class="videos__duration">15 Min</div>
                                </div>
                            </div>
                            <div class="videos__footer">
                                <h2 class="videos__title">Leave Me Alone</h2>
                                <button class="play play--small videos__play" aria-label="Play Track"></button>
                            </div>
                        </article>
                    </li>
                    <li class="videos__item">
                        <article>
                            <div class="videos__cover" style="background-image: url('/images/videos/05.jpg')">
                                <div class="videos__props">
                                    <ul class="videos__genres">
                                        <li class="videos__genre videos__genre--highlighted">Rock</li>
                                        <li class="videos__genre">Hip-Hop</li>
                                    </ul>
                                    <div class="videos__duration">15 Min</div>
                                </div>
                            </div>
                            <div class="videos__footer">
                                <h2 class="videos__title">Leave Me Alone</h2>
                                <button class="play play--small videos__play" aria-label="Play Track"></button>
                            </div>
                        </article>
                    </li>
                    <li class="videos__item">
                        <article>
                            <div class="videos__cover" style="background-image: url('/images/videos/06.jpg')">
                                <div class="videos__props">
                                    <ul class="videos__genres">
                                        <li class="videos__genre videos__genre--highlighted">Rock</li>
                                        <li class="videos__genre">Hip-Hop</li>
                                    </ul>
                                    <div class="videos__duration">15 Min</div>
                                </div>
                            </div>
                            <div class="videos__footer">
                                <h2 class="videos__title">Leave Me Alone</h2>
                                <button class="play play--small videos__play" aria-label="Play Track"></button>
                            </div>
                        </article>
                    </li>
                    <li class="videos__item">
                        <article>
                            <div class="videos__cover" style="background-image: url('/images/videos/07.jpg')">
                                <div class="videos__props">
                                    <ul class="videos__genres">
                                        <li class="videos__genre videos__genre--highlighted">Rock</li>
                                        <li class="videos__genre">Hip-Hop</li>
                                    </ul>
                                    <div class="videos__duration">15 Min</div>
                                </div>
                            </div>
                            <div class="videos__footer">
                                <h2 class="videos__title">Leave Me Alone</h2>
                                <button class="play play--small videos__play" aria-label="Play Track"></button>
                            </div>
                        </article>
                    </li>
                    <li class="videos__item">
                        <article>
                            <div class="videos__cover" style="background-image: url('/images/videos/08.jpg')">
                                <div class="videos__props">
                                    <ul class="videos__genres">
                                        <li class="videos__genre videos__genre--highlighted">Rock</li>
                                        <li class="videos__genre">Hip-Hop</li>
                                    </ul>
                                    <div class="videos__duration">15 Min</div>
                                </div>
                            </div>
                            <div class="videos__footer">
                                <h2 class="videos__title">Leave Me Alone</h2>
                                <button class="play play--small videos__play" aria-label="Play Track"></button>
                            </div>
                        </article>
                    </li>
                    <li class="videos__item">
                        <article>
                            <div class="videos__cover" style="background-image: url('/images/videos/09.jpg')">
                                <div class="videos__props">
                                    <ul class="videos__genres">
                                        <li class="videos__genre videos__genre--highlighted">Rock</li>
                                        <li class="videos__genre">Hip-Hop</li>
                                    </ul>
                                    <div class="videos__duration">15 Min</div>
                                </div>
                            </div>
                            <div class="videos__footer">
                                <h2 class="videos__title">Leave Me Alone</h2>
                                <button class="play play--small videos__play" aria-label="Play Track"></button>
                            </div>
                        </article>
                    </li>
                </ul>
            </section>
            <ul class="pagination page__pagination">
                <li class="pagination__item">
                    <a href="#">1</a>
                </li>
                <li class="pagination__item pagination__item--current">
                    <span>2</span>
                </li>
                <li class="pagination__item">
                    <a href="#">3</a>
                </li>
                <li class="pagination__item">
                    <a href="#">Next</a>
                </li>
            </ul>
        </main>
    </div>
{% endblock %}